.navbar {
    background-color: #b84e39;
    border-bottom: 8px #eaa973 solid;
}

.navbar-brand {
    font-weight: bold !important;
}

.navbar-nav > li > a {
    font-weight: bold !important;
}

.bs-sidebar li a {
    color: #b84e39 !important;
}

.bs-sidebar li a:hover {
    background-color: #f0f0f0 !important;
    color: #000000 !important; 
}

.bs-sidebar li.active a {
    background-color: #f0f0f0 !important;
    color: #ff6600 !important;
    font-weight: bold !important;
}

h1 {
    font-size: 50px !important;
    padding-bottom: 35px !important;
}

h2 {
    font-size: 40px !important;
    padding-bottom: 20px !important;
}

h3 {
    font-weight: bold !important;
}

a[href^="http"] {
    color: #b84e39 !important;
    text-decoration: none !important;
    transition: color 0.3s ease !important;
}

a[href^="http"]:hover {
    color: #000000 !important;
}

div a i.fa-globe,
div a i.ai-google-scholar,
div a i.ai-lattes {
    color: #b84e39;
}

div a:hover i.fa-globe,
div a:hover i.ai-google-scholar,
div a:hover i.ai-lattes {
    color: #000000;
}

/* Remove all gaps between columns and edges */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-md-3, .col-md-9 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Make the overall container wider to use more screen space */
.container {
    max-width: 100% !important;  /* Use 95% of screen width */
    padding-left: 0 !important;
    padding-right: 0 !important;
}

